@import '../tipography'
@import '../variable'

@mixin backgroundImg($image:file, $type:png)
    background-image: url('../../public/images/#{$image}.#{$type}')
    background-repeat: no-repeat
    background-size: cover
    background-position-y: 40%

.flex
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%

.containerTest
    @extend .flex

.arrowRight
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    width: 30px
    height: 30px
    z-index: 5
    border-radius: 100%
    right: 10px
    font-size: 3rem
    background: $color-purple
    color: $color-gray
    cursor: pointer

.arrowLeft
    @extend .arrowRight
    left: 10px
    transform: rotate(180deg)

.text
    text-align: center
    font-size: 0.9rem
    color: white
    font-family: $roboto

.textTitle
    @extend .text
    font-family: $pacifico
    font-size: 3.5rem
    color: yellow

.containerTextoInfo
    background: blue
    width: auto
    height: 150px

.container
    @extend .flex
    margin-top: 120px
    width: 100%
    height: 550px
    overflow: hidden

.containerDesc
    @extend .flex
    width: 60%
    margin-bottom: 10px

.btnInfo
    outline: none
    border: none
    padding: 10px 50px
    margin-top: 10px
    margin-left: 110px
    text-decoration: none
    @extend .text
    color: $color-purple
    font-weight: bold
    cursor: pointer
    &:hover
        opacity: 1
        background: $color-orange
        transition: 0.3s

.containerImage
    @extend .flex
    height: 100%
    position: relative
    overflow: hidden
    margin: 0
    padding: 0
    background: yellow
    


.backgroundRight
    background: green
    width: 50%
    height: 100%
    img 
        height: 100%
        width: 100%

.backgroundLeft
    @extend .containerImage
    width: 50%
    overflow: hidden
    img
        width: 100%
        height: 100%
      
.containerMiddle
    display: flex
    width: 50%
    min-width: 450px
    position: absolute
    align-items: center
    justify-content: center
    z-index: 1
    bottom: 0
    top: 0
    right: 0
    left: 0
    margin: auto
    img
        width: 100%
        height: 100%
        